  @font-face {
    font-family: "Comfortaa";
    src: url("https://cloudirector.github.io/fonts/Comfortaa.ttf");
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: 15px;
    font-family: "Comfortaa";
    background-color: #E9DAB3;
  }

  #content-container {
    width: 100%;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(233, 218, 179, 1);
  }

  .tab-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    transition: width 0.5s ease-in-out height 0.5s ease-in-out;
  }

  .tab {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E9DAB3;
    box-shadow: 0 0 10px rgba(233, 218, 179, 1);
    transition: background-color 0.5s ease-in-out;
  }

  .tab:hover {
    background-color: #ffe6a5;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  .highlight {
    padding: 2px;
    border-radius: 6px;
    background-color: #E9DAB3;
  }

  input {
    border: none;
    height: 50px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: calc(80% - 10px);
    background-color: #E9DAB3;
    box-shadow: 0 0 10px rgba(233, 218, 179, 1);
  }

  button {
    border: none;
    height: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #E9DAB3;
    box-shadow: 0 0 10px rgba(233, 218, 179, 1);
  }

  button:hover {
    background-color: #ffe6a5;
  }